# Keep EOLs consistent

* text=auto

*.java          text
*.md            text
*.pl            text
*.pm            text
*.py            text

# Windows batch files should retain CRLF

*.class         binary
